################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proyecto/Tarea2/.vs/Tarea2/v17/Browse.VC.opendb
